<div>
    <img src="{{flag}}" alt ="{{name}}">
    <p>Country: {{name}}</p>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    {{#each languages}}
      <p>Languages: {{name}}</p>
    {{/each}}
</div>



